#top-screen {
    display: flex;
    justify-content: center;
    height: 10vh;
}

#logo {
    
}

/* consider making max-min widths heights for all sections and then putting them ALL in a flexbox */

#center-screen {
    display: flex;
    height: 65vh;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 0 auto;

}

#container-one {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 25vw;
    background-color: blue;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    /* align-items: center; */
}

#wheel {
    
}

.aside-left {
    font-size: 3vh;
    align-self: center;
}

#spin-value {
    text-align: center;
    max-width: 75%;
    min-width: 75%;
    background-color: hotpink;
    border-radius: 2px;
}

#spin-button {
    max-width: 50%;
    min-width: 50%;
    align-self: center;
    border-radius: 12px;

}

#puzzle-board {
    height: 65vh;
    width: 59vw;
    background-color: purple;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#container-two {
    height: 65vh;
    width: 15vw;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.aside-right {
    border-radius: 30px;
    border: .7vh gray solid;
}

#player-one-cash {
    background-color: aqua;
    /* opacity: .5  */
}
#player-two-cash {
    background-color: orange;
    
}

.player-cash {
    font-size: 3vw;
}

#message-board {
    height: 12vh;
    /* width: 98vw; */
    background-color: red;
    border-radius: 20px;
    margin: 1vh auto;
    border: 1vh black solid;
    box-shadow: 5px 10px;
}

#bottom-screen {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    flex-wrap: wrap;
    font-size: 2vh;
}

#input {
    height: 100%;
    width: 50vw;
    font-size: 2vh;
}

#guess-button {
    height: 100%;
    font-size: 2vh;
}

#solve-button {
    height: 100%;
    font-size: 2vh;
}

#tile-container {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    /* height: 100%;
    width: 100%; */
    

}

.word-container-class {
    display: flex;
    justify-content: row;
    align-items: center;
    
    
}

.square {
    position: relative;
    width: 8%;
    /* not sure i need this below */
    overflow: hidden;
}

.square:after {
    content: "";
    display: block;
    padding-top: 100%;
    text-align: center;
}

.tile {
    background-color: whitesmoke;
    position: absolute;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* width: 100%;
    height: 100%; */
    /* width:100%;
    height: 0;
    padding-top:100%; */
    border: .1vh solid black;
    border-radius: 15%;
    font-size: 2vw;
    
}

